global
  #debug
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  pidfile /var/run/haproxy.pid

  spread-checks 4
  tune.maxrewrite 1024
  tune.ssl.default-dh-param 2048

defaults
  mode    http
  balance roundrobin

  option  dontlognull
  option  dontlog-normal
  option  redispatch

  maxconn 5000
  timeout connect 5s
  timeout client  20s
  timeout server  20s
  timeout queue   30s
  timeout http-request 5s
  timeout http-keep-alive 15s

resolvers dns
  nameserver rancherdns  169.254.169.250:53
  hold valid 1s

listen hack_api
    mode      http
    bind      0.0.0.0:80

    server hack-api hack-api:8080

listen shelterhub
    mode      http
    bind      0.0.0.0:8080

    server shelterhub ui.shelterhub:8080
    
